#product_form {
  max-width: 420px;
  margin: 4rem auto;
  position: relative;
  left: -50vw;
  animation: AddProductFormSlideIn 1s ease 0s forwards;

  @keyframes AddProductFormSlideIn {
    60% {
      left: 10vw;
    }
    100% {
      left: 0;
    }
  }

  .form-group {
    margin-bottom: 1.6rem;
    &.error {
      color: red;

      .error-message {
        font-size: 1.2rem;
        margin-top: 0.4rem;
      }
    }
  }

  .hidden {
    display: block;
    opacity: 1;
    animation: fadeOut 0.5s ease 0s forwards;
  }

  .visible {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s ease 0.4s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    &:focus {
      border-bottom: 2px solid black;
    }
  }

  input,
  select {
    font-size: 1.6rem;
    padding: 1.2rem;
    width: 100%;
    &:focus {
      background-color: rgb(241, 240, 240);
    }
  }

  select:focus {
    background-color: rgb(221, 212, 212);
  }
}
