.product {
  border: 1px solid gray;
  padding: 0.8rem;
  min-height: 20rem;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
  opacity: 0.2;
  animation: productFadeIn 0.5s ease 0s forwards;
  transition: background-color 0.5s ease, transform 0.5s ease;

  .product__actions {
    display: flex;
    justify-content: left;
  }

  @keyframes productFadeIn {
    to {
      opacity: 1;
    }
  }  

  &.selected {
    transform: translateY(-1rem);
    background-color: rgba(0, 0, 0, 0.719);
    color:white;
    box-shadow: 2px 2px 5px 5px rgba(33,33,33,0.10);
  }
}



