* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  padding: 1.6rem;
  padding-top: 0;
  min-width: 200px;
  max-width: 960px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

hr {
  border: 1px solid rgb(128, 125, 125);
}
